<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FB Friend App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le style -->
  <!-- Inclusion de Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Inclusion de Font-awesome -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <!-- Inclusion de Font-awesome pour IE7 (Engueuler celui qui a décidé du support d'IE7 au préalable.) -->
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- Inclusion du style CSS de l'app -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="app row">
        <div class="span12">
          <h2 class="app-heading">Fb Friends App</h2>
          <!-- btn-group, see: http://twitter.github.com/bootstrap/components.html#buttonGroups -->
          <div class="span12 app-toolbar">
            <div class="input-append">
              <input class="span3" type="text" id="search" placeholder="Search by name, surname, activities.." />
              <button class="btn" id="byName">Sort by name</button>
              <button class="btn" id="byBirthday">Sort by birthday</button>
           </div>
          </div>
          <div class="friend-list row"></div>
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script id="friendTmpl" type="text/x-template" charset="utf-8">
      <div class="media">
        <a class="pull-left">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="<%= pic_big %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="<%= profile_url %>"><%= sort_first_name %> <%= sort_last_name %></a></h4>
          <small><%= birthday_date %></small>
          <small><%= activities %></small>
          <small><%= relationship_status %></small><br/>
        </div>
      </div>
    </script>
    <script src="js/getFriends.js"></script>
    <script src="js/jquery-1.9.0.js"></script>
    <script src="js/bootstrap.2.2.2.js"></script>
    <script src="js/lodash.1.2.0.js"></script>
    <script src="js/underscore.flatten.js"></script>
    <!-- Underscore est une dépendance de Backbone, à intégrer avant Backbone -->
    <script src="js/backbone.1.0.0.js" type="text/javascript"></script>
   
    <script type="text/javascript">
    var FbApp = {};
    </script>
    <script src="app/Friend.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/Friends.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/FriendView.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/AppView.js" type="text/javascript" charset="utf-8"></script>
    <!-- Inclusion des HighCharts -->
    <script src="js/Highcharts-3.0.1/js/highcharts.js"></script>
    <script type="text/javascript">
    FbApp.init = function(){
        var myFriends = new FbApp.Friends();
        var myApp = new FbApp.AppView({
          collection:myFriends,
          el: $('.app')[0]
        });
        myFriends.reset(getFriends());
      };
      FbApp.init();
    </script>
</body>
</html>
